.App {
	display: flex;
	gap: 20px;
}
.languages {
	border: solid 1px lightgray;
	box-shadow: 0 0 10px gray;
}
.languages p {
	background-color: red;
	text-align: center;
}
.App img {
	height: 200px;
	aspect-ratio: 4/4;
	pointer-events: none;
}
.number {
	font-size: 40px;
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

/* custom-hooks styles */
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3f4652;
}

.loading-box {
	border-radius: 12px;
	border: 4px dashed darkgray;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 360px;
}

#loading-text {
	font-size: 36px;
}

.data-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 24px;
	color: white;
}

.quantity-box {
	display: block;
	position: absolute;
	right: 5px;
	top: 0;
	font-size: 28px;
}

#show-button {
	width: 180px;
	height: 50px;
	border: none;
	background-color: rgb(27, 27, 27);
	color: rgb(235, 235, 235);
	font-weight: 400;
	font-size: 24px;
	border-radius: 8px;
	margin-top: 5px;
	cursor: pointer;
}