
body{
	display: flex;
	justify-content: center;
}


img {
    width: 80px;
    height: 80px;
}


.carucont{
	display: flex;
	width: 900px;
	height: 500px;
}
button{
	display: flex;
	justify-content: end;
}