.cocktails-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	.cocktail-container {
		display: flex;
		flex-direction: column;
		width: 360px;
		& img {
			width: 360px;
		}
	}
}

.main_cont {
	display: flex;
	justify-content: space-between;
}

.data_length {
	font-size: 45px;
	text-align: center;
	margin-right: 100px;
}

.odd_but {
	height: 50px;
	margin-bottom: 10px;
}

.right_cont {
	height: 250px;
	margin-right: 50px;
}
