* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(202, 202, 202, 0.322); 
}

.main_container {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 500px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid rgba(119, 119, 119, 0.27);
    box-shadow: 0 0 5px darkcyan;
    height: 500px;
}

.main_img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 8px gray;
}

.sm_img_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    overflow:scroll;
    border-radius: 5px;
}

.sm_img {
    width: 80px;
}

.sm_img:hover {
    cursor: pointer;
}